Nama: Sinthiya Kusuma Nagari

Batch: HCK 010

# Task 1

In [ ]:
kalimat=input("Masukan kalimat: ")
def number_of_word(sentence):
    b=sentence.split(' ')
    panjang=len(b)
    return panjang
d=number_of_word(kalimat)
print(d)

Masukan kalimat: halo saya mau makan
4

# Task 2

In [4]:
first=int(input("masukan nilai pertama: "))
last=int(input("masukan nilai akhir: "))
kelipatan=int(input("masukan kelipatan: "))
def find_multiples(start_range,end_range,multiple):
  lista=[]
  for i in range(start_range,end_range+1):
    if i%multiple == 0:
      lista.append(i)
  return (lista)


print(find_multiples(first,last,kelipatan))

masukan nilai pertama: 10
masukan nilai akhir: 50
masukan kelipatan: 5
[10, 15, 20, 25, 30, 35, 40, 45, 50]

# Task 3

In [46]:
def grade_converter(convert_to,**npaired):
  result={}
  for student,score in npaired.items():
    if convert_to=='letter_grade':
        if score >= 85:
          result[student] = 'A'
        elif score >= 70 and score <= 84.99:
          result[student] = 'B'
        elif score >= 60 and score <= 69.99:
          result[student] = 'C'
        elif score >= 50 and score <= 59.99:
          result[student] = 'D'
        elif score >= 40 and score <= 49.99:
          result[student] = 'E'
        elif score >= 0 and score <= 39.99:
          result[student] = 'F'
    elif convert_to=='gpa':
        if score >= 85:
          result[student] = '4'
        elif score >= 70 and score <= 84.99:
          result[student] = '3'
        elif score >= 60 and score <= 69.99:
          result[student] = '2.5'
        elif score >= 50 and score <= 59.99:
          result[student] = '2'
        elif score >= 40 and score <= 49.99:
          result[student] = '1.5'
        elif score >= 0 and score <= 39.99:
          result[student] = '1'
  return result


print(grade_converter(convert_to='gpa', Faiz=90, Adam=100))

{'Faiz': '4', 'Adam': '4'}

# Task 4

In [51]:
def fibonacci(n):
  if n<0:
    return "incorrect number"
  elif n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(5)

5